*{
  font-family: Helvetica, Sans-Serif;
}

.header{
  position: relative;
  left: 50px;
}

.navigation{
  display: inline-block;
}

.chat_categories{
  border: 1px solid black;
  text-align: center;
}
